body
{
    margin: 0;
    padding: 0;
    
}
html,body
{
    height: 100%;
    width: 100%;
}
.background
{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ri-sun-fill
{
    font-size: 20px;
    position: absolute;
    right: 3%;
    top: 1%;
    transition: all ease 1.0s;
}
.card
{
    background-color: white;
}
.card h6
{
    color: red;
}
.card img
{
    position: relative;
    overflow: hidden;
}
.ri-heart-3-fill{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.7;
    transition: all ease 0.4s;
}

